bin/
suave.v11.suo
_UpgradeReport_Files/
obj/
packages/
build/
suave.sln.DotSettings.user
*/test-results/*
*.userprefs
*.swp
*.lock
*.nuspec
.bundle/
gh-pages/
AssemblyVersionInfo.fs
miTLS/
Backup/
paket.exe
!paket.lock
**.suo
docs/output/
