bin/
obj/
packages/
build/
gh-pages/
docs/output/
paket.template

*.userprefs
*.swp
*.suo
*.orig

AssemblyVersionInfo.fs
paket.exe
*.lock
!paket.lock

*.bak
paket-files/
docs/output/

.vs/
.vscode/
.fake/
