source https://nuget.org/api/v2

nuget FSharp.Charting
nuget RazorEngine
nuget NuGet.CommandLine
nuget FsPickler
nuget Fuchu-suave.FsCheck
nuget Fuchu-suave.PerfUtil ~> 0.6
nuget openssl.redist
nuget FAKE
nuget FSharp.Formatting 2.7.4
