framework: NET45
source https://nuget.org/api/v2

nuget FSharp.Core ~> 3.1.2
nuget openssl.redist
nuget DotLiquid
nuget RazorEngine

github haf/YoLo YoLo.fs

group Tests
  framework: NET45
  source https://nuget.org/api/v2
  nuget FSharp.Core ~> 3.1.2
  nuget WebSocketSharp
  nuget FsCheck = 2.1.0
  nuget Fuchu.FsCheck
  nuget Fuchu.PerfUtil
  nuget Http.fs-prerelease
  nuget FSharp.Charting

group Examples
  framework: NET45
  source https://nuget.org/api/v2
  nuget FSharp.Core ~> 4
  nuget Topshelf.FSharp
  nuget Nancy.Owin
  nuget Freya ~> 3.0.0-b
  nuget Microsoft.Owin.Hosting 
  nuget Owin
  github haf/YoLo YoLo.fs

group Docs
  framework: NET45
  source https://nuget.org/api/v2
  nuget FSharp.Core ~> 4
  nuget FsLibTool
  nuget Argu
