type project
authors Ademar Gonzalez
owners Ademar Gonzalez
description Suave is a simple web development F# library providing a lightweight web server and a set of combinators to manipulate route flow and task composition.
licenseExpression Apache-2.0
licenseUrl https://licenses.nuget.org/Apache-2.0
repositoryUrl https://github.com/SuaveIO/suave
repositoryType git
iconUrl https://raw.githubusercontent.com/SuaveIO/resources/master/images/head_trans.png
includePdb true
files
  bin/Release/net10.0/Suave.dll => lib/net10.0
  bin/Release/net10.0/Suave.xml => lib/net10.0
  bin/Release/net10.0/Suave.pdb => lib/net10.0
dependencies
  framework: net10.0