bin/
obj/
packages/
build/
gh-pages/
docs/output/
paket-files/
_site/
miTLS/
.bundle/

Suave.v11.suo
Suave.sln.DotSettings.user
*.userprefs
*.swp
*.suo

_UpgradeReport_Files/
Backup/
test-results/

AssemblyVersionInfo.fs
paket.exe
*.lock
!paket.lock
*.nuspec

.DS_Store
